<%-include('../includes/header.ejs')%>

      </head>

      <body>
            <!-- Navbar -->
            <%-include('../includes/navbar.ejs')%>

                  <!-- Form -->
                  <main>
                        <div class="container mt-5">
                              <div class="title">
                                    <h2 class="text-center text-dark"><b><u>Log In</u></b></h2>
                              </div>
                              <div style="margin-top: 50px; margin-left: 200px; margin-right: 200px; " >
                                    <h2 class="text-center bg-warning p-3">User is verified, Let's Go to Log in</h2>
                              </div>

                              <div class=" "style="display: flex; justify-content: center; align-self: center; ">
                              <img style="margin-top: 50px;"  src="https://img.freepik.com/free-vector/green-double-circle-check-mark_78370-1749.jpg?w=740&t=st=1717788717~exp=1717789317~hmac=c402b637822adf785c335767807fba08eabfc818368f5918edb8fda4dfde96d4' alt="">
                              </div>

                        </div>
                  </main>
                  <!-- Footer -->
                  <%-include('../includes/footer.ejs') %>